{% extends "base.html" %}
{% block content %}
<form class="info_form" action="/info" method="POST" >
<h3>"这是一个加入成绩更新实时提醒的协议：成绩更新时，系统将自动发送您的成绩到您填写的邮箱"</h3>
<div class="line" ><div class="key" >学号：</div> <input type="user_id" name="user_id" id="user_id"></div>
<div class="line" ><div class="key" >密码：</div> <input type="password" name="password" id="password"></div>
<div class="line" ><div class="key" >email：</div> <input type="email" name="email" id="email"></div>
<div class="center"><input type="submit" value="加入协议" onclick=alert("您已成功加入协议")> </div>
</form>
{% endblock %}